--
-- PostgreSQL database cluster dump
--

\restrict 9F3zdf2V8wDvB2wZqrEt9pAC2Dc9DiZhiCJNVKuwpu2eGoqGAnZ4txPPTLML3lI

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:drIGuSTDbkR/7QMTW4iTDg==$c9PpTrk2NJXld0N3ZPcqfaSBrtQL4l6QwhlasnuOdSI=:dpEoW6ChmlJfNCfg3p/DAnymS9uK7FrA0mhQPbVQV6Y=';

--
-- User Configurations
--








\unrestrict 9F3zdf2V8wDvB2wZqrEt9pAC2Dc9DiZhiCJNVKuwpu2eGoqGAnZ4txPPTLML3lI

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict IInkpya4spULnQwt1u5dSv0j1oT9aMmehcKfvwtcHXIOLZ3GiepnLTWOSTQjDDm

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict IInkpya4spULnQwt1u5dSv0j1oT9aMmehcKfvwtcHXIOLZ3GiepnLTWOSTQjDDm

--
-- Database "db_carteirinha" dump
--

--
-- PostgreSQL database dump
--

\restrict ci0feP5gOhOfFNENqCJrmIcui1IezP9UD4kXimGzvousRUgSny5BN8Puy3RQmPv

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: db_carteirinha; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE db_carteirinha WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE db_carteirinha OWNER TO postgres;

\unrestrict ci0feP5gOhOfFNENqCJrmIcui1IezP9UD4kXimGzvousRUgSny5BN8Puy3RQmPv
\connect db_carteirinha
\restrict ci0feP5gOhOfFNENqCJrmIcui1IezP9UD4kXimGzvousRUgSny5BN8Puy3RQmPv

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict ci0feP5gOhOfFNENqCJrmIcui1IezP9UD4kXimGzvousRUgSny5BN8Puy3RQmPv

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict 81fKbnhjNNjll5IoZFbpz8polg3ljQQ6i1fhkNFxDsxes0cfamIDoc6EtlzOkBx

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cat_cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cat_cards (
    id_number character varying NOT NULL,
    name character varying NOT NULL,
    title character varying NOT NULL,
    breed character varying,
    birth_date character varying,
    color character varying,
    owner character varying,
    superpower character varying,
    favorite_food character varying
);


ALTER TABLE public.cat_cards OWNER TO postgres;

--
-- Data for Name: cat_cards; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cat_cards (id_number, name, title, breed, birth_date, color, owner, superpower, favorite_food) FROM stdin;
0007-GATA	Rita Celeste	Escalar Cortina	SRD (Sem Ra├ºa Definida)	01/01/2000	Laranja & branco	Guilherme	Teletransporte p/ cozinha	Petisco de atum
\.


--
-- Name: cat_cards cat_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cat_cards
    ADD CONSTRAINT cat_cards_pkey PRIMARY KEY (id_number);


--
-- Name: ix_cat_cards_id_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_cat_cards_id_number ON public.cat_cards USING btree (id_number);


--
-- PostgreSQL database dump complete
--

\unrestrict 81fKbnhjNNjll5IoZFbpz8polg3ljQQ6i1fhkNFxDsxes0cfamIDoc6EtlzOkBx

--
-- PostgreSQL database cluster dump complete
--

