--
-- PostgreSQL database cluster dump
--

\restrict I5rx3Ny1XfGfqVGHAbCeTWAE1TnV6tZwlWpNYQyTj49fHD7eTqmYFb0bjAZsBra

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:drIGuSTDbkR/7QMTW4iTDg==$c9PpTrk2NJXld0N3ZPcqfaSBrtQL4l6QwhlasnuOdSI=:dpEoW6ChmlJfNCfg3p/DAnymS9uK7FrA0mhQPbVQV6Y=';

--
-- User Configurations
--








\unrestrict I5rx3Ny1XfGfqVGHAbCeTWAE1TnV6tZwlWpNYQyTj49fHD7eTqmYFb0bjAZsBra

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict AKlPqyVybGZDaUma0l1UtNAjI1hbMvat4R4lCz4kowHyisaWMKi2rfId1zVKUUw

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict AKlPqyVybGZDaUma0l1UtNAjI1hbMvat4R4lCz4kowHyisaWMKi2rfId1zVKUUw

--
-- Database "db_carteirinha" dump
--

--
-- PostgreSQL database dump
--

\restrict un3DeT9viGxfu7a6iDp27bmlpMQoHq4KrwOfpBg4vFm5tw9LzaPc0MuesDa6SqC

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: db_carteirinha; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE db_carteirinha WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE db_carteirinha OWNER TO postgres;

\unrestrict un3DeT9viGxfu7a6iDp27bmlpMQoHq4KrwOfpBg4vFm5tw9LzaPc0MuesDa6SqC
\connect db_carteirinha
\restrict un3DeT9viGxfu7a6iDp27bmlpMQoHq4KrwOfpBg4vFm5tw9LzaPc0MuesDa6SqC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict un3DeT9viGxfu7a6iDp27bmlpMQoHq4KrwOfpBg4vFm5tw9LzaPc0MuesDa6SqC

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict ahBTowyVzGHZYkvKeVGPSQR3aypsCEk9YemazkIpSFCGZKm3Hi8tl6cdUfyQgSL

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cat_cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cat_cards (
    id_number character varying NOT NULL,
    name character varying NOT NULL,
    title character varying NOT NULL,
    breed character varying,
    birth_date character varying,
    color character varying,
    owner character varying,
    superpower character varying,
    favorite_food character varying,
    second_owner character varying DEFAULT ''::character varying
);


ALTER TABLE public.cat_cards OWNER TO postgres;

--
-- Name: vaccines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vaccines (
    id integer NOT NULL,
    card_id character varying,
    pet_name character varying,
    vaccine_date character varying,
    vaccine_type character varying
);


ALTER TABLE public.vaccines OWNER TO postgres;

--
-- Name: vaccines_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vaccines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vaccines_id_seq OWNER TO postgres;

--
-- Name: vaccines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vaccines_id_seq OWNED BY public.vaccines.id;


--
-- Name: vaccines id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vaccines ALTER COLUMN id SET DEFAULT nextval('public.vaccines_id_seq'::regclass);


--
-- Data for Name: cat_cards; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cat_cards (id_number, name, title, breed, birth_date, color, owner, superpower, favorite_food, second_owner) FROM stdin;
0007-GATA	Rita Celeste	The Fast and The Furious	SRD (Sem Ra├ºa)	30/09/2026	Cinza e Preto	Guilherme Le├úo	Energia infinita	Qualquer Sach├¬ com Ra├ºao	Carol Moreno
\.


--
-- Data for Name: vaccines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vaccines (id, card_id, pet_name, vaccine_date, vaccine_type) FROM stdin;
3	0007-GATA	Rita Celeste	2026-08-02	Raiva (Antirr├íbica)
\.


--
-- Name: vaccines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vaccines_id_seq', 3, true);


--
-- Name: cat_cards cat_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cat_cards
    ADD CONSTRAINT cat_cards_pkey PRIMARY KEY (id_number);


--
-- Name: vaccines vaccines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vaccines
    ADD CONSTRAINT vaccines_pkey PRIMARY KEY (id);


--
-- Name: ix_cat_cards_id_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_cat_cards_id_number ON public.cat_cards USING btree (id_number);


--
-- Name: ix_vaccines_card_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vaccines_card_id ON public.vaccines USING btree (card_id);


--
-- Name: ix_vaccines_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vaccines_id ON public.vaccines USING btree (id);


--
-- PostgreSQL database dump complete
--

\unrestrict ahBTowyVzGHZYkvKeVGPSQR3aypsCEk9YemazkIpSFCGZKm3Hi8tl6cdUfyQgSL

--
-- PostgreSQL database cluster dump complete
--

